#enable_html_escaping()
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="decorator" content="atl.admin">
		<title>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmConfigureTitle")</title>
		<link rel="stylesheet" type="text/css" href="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/css/configure.css">
	</head>
	<body>
		<div id="container">
			<br>
			<div id="title">
		    	<h2>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmConfigureTitle")</h2>
		    </div>

		    <div id="errorLatch">
		    	<span>$action.getError()</span>
		    </div>
		    
		    <div class="texts">
		    	<p class="textTitles"><strong>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmConfigureGlobal")</strong></p>
				<p>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmConfigureTexto1")</p>
		    </div>		    
		    		
			<form class="aui" method="POST"> 
				<div class="field-group">
		             <label for="appId">$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmConfigureAppId")</label>
		             <input type="text" id="appId" name="appId" class="text" value="$action.getAppId()">
		        </div>
		        <br>
		        <div class="field-group">
		             <label for="secret">$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmConfigureSecret")</label>
		             <input type="text" id="secret" name="secret" class="text" value="$action.getSecret()">
		        </div>
		        <br>
		        <div class="field-group">
	            	<input type="submit" value="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmConfigureButton')" class="button">
	        	</div>
			</form>
		</div>
	</body>
</html>