#enable_html_escaping()
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="decorator" content="atl.admin">
		<title>Latch Settings</title>
		<link rel="stylesheet" type="text/css" href="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/css/configure.css">
	</head>
	<body>
		<div id="container">
			<br>
			<div id="titulo">
		    	<h2>Latch settings</h2>
		    </div>

		    <div id="errorLatch">
		    	<span>$action.getError()</span>
		    </div>
		    
		    <div id="queEs" class="texts">
		    	<p class="tituloTextos"><strong>Global settings</strong></p>
				<p>Fill in the data received when you registered the application in Latch:</p>
		    </div>		    
		    		
			<form class="aui" method="POST"> 
				<div class="field-group">
		             <label for="appId">Application ID:</label>
		             <input type="text" id="appId" name="appId" class="text" value="$action.getAppId()">
		        </div>
		        <br>
		        <div class="field-group">
		             <label for="secret">Secret:</label>
		             <input type="text" id="secret" name="secret" class="text" value="$action.getSecret()">
		        </div>
		        <br>
		        <div class="field-group">
	            	<input type="submit" value="Save Changes" class="button">
	        	</div>
			</form>
		</div>
	</body>
</html>