#htmlSafe()
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="decorator" content="atl.general">
		<title>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTitle")</title>
		<link rel="stylesheet" type="text/css" href="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/css/pair.css">
	</head>
	<body>
		<div id="container">
		
			<div id="title">
		    	<h2>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairInput")</h2>
		    </div>

		    <div id="errorLatch">
		    	<span>$action.getError()</span>
		    </div>

			<form class="aui" method="POST" action="/jira/secure/LatchPair.jspa?atl_token=${atl_token}">
				<div class="field-group">
					<input type="text" id="token" name="token" class="text" placeholder="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmPairInput')">
	            	<input type="submit" value="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmPairButton')" class="button">
	        	</div> 
			</form>
			
			<div class="texts">
		    	<p class="textTitles"><strong>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTitleInfo")</strong></p>
				<p>$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTextInfo1")</p>
		    </div>
			
			<table id="tableDiv">
		    	<tr>
			    	<td>
				    	<div id="image1" class="images">
				    		<div id="foto1" class="photos">
				    			<img id="img1" class="img" src="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/images/pair_01.png" alt="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg1')" title="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg1')">
				    		</div>
				    		<div id="texto1">
				    			<div class="texts">
				    				$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTextImg1")
				    			</div>
				    		</div>
				    	</div>
		    		</td>
			    	<td>
			    		<div id="image2" class="images">
				    		<div id="foto2" class="photos">
				    			<img id="img2" class="img" src="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/images/img2-large.png" alt="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg2')" title="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg2')">
				    		</div>
				    		<div id="texto2">
				    			<div class="texts">
				    				$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTextImg2")
				    			</div>
				    		</div>
				    	</div>
			    	</td>
		    	</tr>
		    	<tr>
			    	<td>
			    		<div id="image3" class="images">
				    		<div id="foto3" class="photos">
				    			<img id="img3" class="img" src="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/images/how_02.png" alt="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg3')" title="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg3')">
				    		</div>
				    		<div id="texto3">
				    			<div class="texts">
				    				$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTextImg3")
				    			</div>
				    		</div>
				    	</div>
			    	</td>
			    	<td>
			    		<div id="image4" class="images">
				    		<div id="foto4" class="photos">
				    			<img id="img4" class="img" src ="/jira/download/resources/com.elevenpaths.latch.latch-plugin-jira:latch-plugin-jira-resources/images/pair_04.png" alt="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg4')" title="$i18n.getText('com.elevenpaths.latch.latch-plugin-jira.vmInfoTitleImg4')">
				    		</div>
				    		<div id="texto4">
				    			<div class="texts">
				    				$i18n.getText("com.elevenpaths.latch.latch-plugin-jira.vmPairTextImg4")
				    			</div>
				    		</div>
				    	</div>
			    	</td>
		    	</tr>
		    </table>	
			
		</div>
	</body>
</html>