@CHARSET "ISO-8859-1";
#container{
	width: 640px; 
	height: auto; 
	margin-left: 320px; 
	margin-top: 30px; 
	margin-bottom: 30px;
}
.texts{
	color: #716f61;
	text-align: justify;
	margin-top: 15px;
}
.tituloTextos{
	font-size: 1em;
}
#buttonToPair{
	font-family: arial;
	color: #FFF !important;
	padding: 7px 14px;
	height: 40px;
	margin-top: 10px;
	border-radius: 4px !important;
	font-size: 12px;
	background: no-repeat #00b9be 8px 14px;
	background-size: 15px 15px;"
}
#tabla{
	margin-left: 100px;
	margin-right: 100px;
}
.imagenes{
	width: 175px; 
	height: auto;
}
.img{
	width: 175px; 
	height: 175px;
}
.fotos{
	width: 175px; 
	height: 175px;
}
#imagen1{
	margin-top: 35px;
}
#imagen2{
	margin-left: 20px
}
#imagen3{
	margin-top: 40px;
}
#imagen4{
	margin-left: 20px; 
	margin-top: 60px;
}
.textos{
	color: #716f61;
	text-align: left;
}
#errorLatch{
	color: red;
	font-style: bold;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 16px;
}