@CHARSET "UTF-8";
#container{
	width: 640px; 
	height: auto; 
	margin-left: 320px; 
	margin-top: 30px; 
	margin-bottom: 30px;
}
#container-info{
	width: 640px; 
	height: auto; 
	margin-left: 30px; 
	margin-top: 30px; 
	margin-bottom: 30px;
}
.texts{
	color: #716f61;
	text-align: justify;
	margin-top: 15px;
}
.textTitles{
	font-size: 1em;
}
#errorLatch{
	color: red;
	font-style: bold;
	margin-top: 35px;
	margin-bottom: 35px;
	font-size: 16px;
}
#buttonToPair{
	font-family: arial;
	color: #FFF !important;
	padding: 7px 14px;
	height: 40px;
	margin-top: 10px;
	border-radius: 4px !important;
	font-size: 12px;
	background: no-repeat #00b9be 8px 14px;
	background-size: 15px 15px;"
}
#tableDiv{
	margin-left: 200px;
}
#tableDiv-pair{
	margin-left: 100px;
	margin-right: 100px;
}
.images{
	width: 175px; 
	height: auto;
}
.img{
	width: 175px; 
	height: 175px;
}
.photos{
	width: 175px; 
	height: 175px;
}
#image1{
	margin-top:15px;
}
#image2{
	margin-left:20px
}
#image3{
	margin-top:15px;
}
#image4{
	margin-left:20px; 
	margin-top:30px;
}
#image1Pair{
	margin-top: 35px;
}
#image3Pair{
	margin-top: 40px;
}
#image4Pair{
	margin-left: 20px; 
	margin-top: 60px;
}
.titles{
	color: #00b9be;
	font-size: 14px;
	font-weight: 700;
}
#title2{
	margin-top: 3px;
}
#title3{
	margin-top: 3px;
}
#title4{
	margin-top: 3px;
}